
<section id="showcase">
    <section id="booking">
<!----
       <div class="container">
           
            <img class="float_left" [src]=myimage1>
        </div>
       
       </section>
</section>
-->






<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/images/bac4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/cover.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/bac6.jpg" class="d-block w-100" alt="...">
      </div>


      

    </div>
  </div>

  
  <div class="navbar">
    <a routerLink="/add" class="btn-add" class="active">Add New Employees</a>
    <a routerLink="/view" class="btn-view">Current Employee List</a>
    <a routerLink="/attend" class="btn-attend">Employee Attendence</a>
    <a routerLink="/leaveadd" class="btn-leaveadd">Leaved Employees </a>
  </div>
  
  



