<section id="basic">
<div id="visible">

<div class="add-main">
    <h2 class="text-center"><b>Join with us as an Employee</b></h2>
    <form [formGroup]="addForm" novalidate class="form">
        
        
    <div class="form-group">
        <label for="fName">First Name:</label>
        <input type="text" formControlName="fName" placeholder="Employee  First Name" name="fName" class="form-control" >
    </div>

    <div class="alert alert-danger" *ngIf="addForm.get('fName').hasError('maxlength') && addForm.get('fName').touched">
    Maximum 20 characters allowed
    </div>
        <div class="alert alert-danger" *ngIf="addForm.get('fName').hasError('required') && addForm.get('fName').touched">
        Please Enter  First Name
        </div>

    <div class="form-group">
        <label for="lName">Last name:</label>
        <input type="text" formControlName="lName" placeholder="Employee Last Name" name="lName" class="form-control" >
    </div>

        <div class="alert alert-danger" *ngIf="addForm.get('lName').hasError('maxlength') && addForm.get('lName').touched">
        Maximum 20 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('lName').hasError('required') && addForm.get('lName').touched">
            Please Enter  Last Name
            </div>


    <div class="form-group">
         <label for="bday">Date of Birth:</label>
        <input type="date" formControlName="bday" placeholder="Employee Date of Birth" name="bday" class="form-control" >
    </div>

                
        <!--gender-->
    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" formControlName="gender" placeholder="Gender" name="gender" class="form-control" >
    </div>
            
        <div class="alert alert-danger" *ngIf="addForm.get('gender').hasError('maxlength') && addForm.get('gender').touched">
        Maximum 40 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('gender').hasError('required') && addForm.get('gender').touched">
            Please Enter  Permenent Address
            </div>   
                        
     <div class="form-group">
        <label for="address">Permenent Address:</label>
        <input type="text" formControlName="address" placeholder="Employee Permenent Address" name="address" class="form-control" >
    </div>

        <div class="alert alert-danger" *ngIf="addForm.get('address').hasError('maxlength') && addForm.get('address').touched">
        Maximum 40 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('address').hasError('required') && addForm.get('address').touched">
            Please Enter  Permenent Address
            </div>


    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="number" formControlName="phone" placeholder="Employee Phone Number" name="phone" class="form-control" >
    </div>

        <div class="alert alert-danger" *ngIf="addForm.get('phone').hasError('maxlength') && addForm.get('phone').touched">
        Maximum 10 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('phone').hasError('required') && addForm.get('phone').touched">
            Please Enter Phone Number
            </div>


    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" placeholder="Employee Email" name="email" class="form-control" >
    </div>

        <div class="alert alert-danger" *ngIf="addForm.get('email').hasError('maxlength') && addForm.get('email').touched">
        Maximum 20 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">
            Please Enter Email 
            </div>

    <div class="form-group">
        <label for="position">Position :</label>
        <input type="text" formControlName="position" placeholder="Employee Position" name="position" class="form-control" >
    </div>

        <div class="alert alert-danger" *ngIf="addForm.get('position').hasError('maxlength') && addForm.get('position').touched">
        Maximum 20 characters allowed
        </div>
            <div class="alert alert-danger" *ngIf="addForm.get('position').hasError('required') && addForm.get('position').touched">
            Please Enter Position
            </div>


    <div class="form-group">
        <label for="startdate">Start Date:</label>
        <input type="date" formControlName="startdate" placeholder="Start Date" name="startdate" class="form-control" >
    </div>

            <button class="btn_btn-success"  (click)="onSubmit()">Save</button>

            <button type="reset" class="btn btn-success" id="reset-btn" ng-click="reset()">Reset?</button> 

                

    </form>

        <a routerLink="/view" class="btn btn-primary" id="view-btn">View Employee</a>


    </div>
        

    </div>
</section>